aniso8601==8.0.0
cffi==1.14.0
click==7.1.1
Flask==1.1.1
Flask-Limiter==1.2.1
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.1
limits==1.5.1
MarkupSafe==1.1.1
pycparser==2.20
pytz==2019.3
six==1.14.0
Werkzeug==1.0.0
